

lib-cov
*.seed
*.log
*.pdf
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
/uploads
pids
logs
results
tmp
dist
# Optional npm cache directory
.npm

#Build
public/css/main.css
.nyc_output/*

#Libraries from npm packages
public/js/lib/bootstrap.min*
public/js/lib/jquery.min*
public/js/lib/popper.min*

# API keys and secrets
.env

package-lock.json

# Dependency directory
node_modules
bower_components

# Editors
.idea
.vscode
*.iml
modules.xml
*.ipr

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OS metadata
.DS_Store
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.env
node_modules
temp
dist
build

yarn.lock



yarn.lock
node_modules
build
package-lock.json
yarn.lock
yarn-error.log
.env
node_modules
build

dist


dist

