body {
  background-color: #ddd !important;
}
html {
  overflow: hidden !important;
}

ul,
ol,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

div#overflowid .MuiPaper-root.MuiPaper-elevation16.MuiDrawer-paper {
  overflow-x: hidden;
}
div#profile-first-drawer {
  margin-top: 75px;
  padding: 0 30px;
  max-width: 700px;
  min-width: 400px;
}
.errormsg {
  padding: 0;
  margin: 0 !important;
}
div#add_secondry {
  margin-top: 30px;
}
button#closeButton {
  border: 1px solid;
  border-radius: 50%;
  height: 30px;
  width: 30px !important;
  padding: 0 !important;
  min-width: 30px;
  line-height: 30px;
}
header#main-header-first {
  z-index: 9999;
}
.TextAndAlignmentCenter {
  text-align: end;
  justify-content: flex-end;
  align-items: flex-end;
}
div#TextAndAlignmentCenter
  button.MuiButtonBase-root
  span.MuiIconButton-label
  svg.MuiSvgIcon-root {
  width: 18px;
}
.TopMargin20 {
  margin-top: 20px !important;
}
div#addMultiEmail button span.MuiIconButton-label button.MuiButtonBase-root {
  height: 30px;
  width: 30px;
}
.BottomPadding0 {
  padding-bottom: 0 !important;
}
.TopPadding0 {
  padding-top: 0 !important;
}
div#MergeEmail-DeleteBTN {
  display: flex;
}
.WeightFont600 {
  font-weight: 600;
}
.SizeFont20 {
  font-size: 20px;
}
.TextAndAlignmentRight {
  text-align: right;
  justify-content: right;
  align-items: right;
}
.TextAndAlignmentLeft {
  text-align: left;
  justify-content: left;
  align-items: left;
}
.HeightLine2 {
  line-height: 2;
}
button#MultipleAddEmailBTN button.MuiButtonBase-root {
  width: 40px;
  height: 40px;
}
.LightGreyColor {
  color: #ddd;
}
.DarkGreyColor {
  color: #888;
}
h2.DarkBlackColor {
  color: #000;
}
.WidhtFull100 {
  width: 100%;
}
.TopMargin15 {
  margin-top: 15px !important;
}
div#MergeEmail-DeleteBTN .AddMultipalEmail {
  padding: 12px 0;
}
.HeightLine3 {
  line-height: 3.5;
}
.TextField {
  width: 100%;
}
.secondaryEmailAlign form .input-feedback {
  position: absolute;
  bottom: -12px;
}
.secondaryEmailAlign form {
  display: flex;
  position: relative;
}
.secondaryEmailAlignPrifile form {
  justify-content: center;
}
.cardMainCLM {
  display: flex;
  align-items: center;
}
