/* @import 'react-big-calendar/lib/sass/styles'; */

body {
  margin: 0;
  background: #f6f7fb;
  /* font-family: "Fira Sans", sans-serif !important; */
  font-family: "Roboto", sans-serif;
}

ul,
ol,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

table tr,
table td,
table th {
  font-family: "Roboto", sans-serif !important;
}

.MuiTypography-body1 {
  font-family: "Roboto", sans-serif !important;
}

div#overflowid .MuiPaper-root.MuiPaper-elevation16.MuiDrawer-paper {
  overflow-x: hidden;
  /* background: #f5f5f5; */
}

div#overflowid-bottom .MuiPaper-root.MuiPaper-elevation16.MuiDrawer-paper {
  overflow: inherit;
}

div#profile-first-drawer {
  margin-top: 75px;
  padding: 0 30px;
  max-width: 1250px;
  min-width: 1250px;
  position: relative;
  padding-bottom: 15px;
}

div#profile-second-drawer {
  margin-top: 75px;
  padding: 0 30px;
  max-width: 1100px;
  min-width: 1100px;
  position: relative;
  padding-bottom: 15px;
}

div#profile-third-drawer {
  margin-top: 75px;
  padding: 0 30px;
  max-width: 960px;
  min-width: 960px;
  position: relative;
  padding-bottom: 15px;
}

div#profile-forth-drawer {
  margin-top: 75px;
  padding: 0 30px;
  max-width: 600px;
  min-width: 600px;
  position: relative;
  padding-bottom: 15px;
}

div#profile-fifth-drawer {
  margin-top: 75px;
  padding: 0 30px;
  max-width: 500px;
  min-width: 500px;
  position: relative;
  padding-bottom: 15px;
}

div#profile-user-drawer {
  margin-top: 75px;
  padding: 0 30px;
  max-width: 600px;
  min-width: 600px;
  position: relative;
  padding-bottom: 15px;
}

div#profile-quote-drawer {
  margin-top: 75px;
  padding: 0 30px;
  max-width: 1100px;
  min-width: 1100px;
  position: relative;
  padding-bottom: 15px;
}

.MuiChip-colorPrimary {
  background-color: #193562 !important;
}

.errormsg {
  padding: 0;
  margin: 0 !important;
}

div#add_secondry {
  margin-top: 30px;
}

button#closeButton {
  margin-bottom: 30px;
  padding: 0 !important;
  cursor: pointer;
  z-index: 999;
}

button#closeButton .MuiChip-root {
  cursor: pointer;
  padding: 5px;
}

button#closeButton .MuiChip-root .MuiChip-icon {
  background: rgba(224, 224, 224, 0.14);
  border-radius: 50%;
  padding: 2px;
}

header#main-header-first {
  z-index: 9999;
}

.TextAndAlignmentCenter {
  text-align: end;
  justify-content: flex-end;
  align-items: flex-end;
}

div#TextAndAlignmentCenter button.MuiButtonBase-root span.MuiIconButton-label svg.MuiSvgIcon-root {
  width: 18px;
}

.TopMargin20 {
  margin-top: 20px !important;
}

div#addMultiEmail button span.MuiIconButton-label button.MuiButtonBase-root {
  height: 30px;
  width: 30px;
}

.BottomPadding0 {
  padding-bottom: 0 !important;
}

.TopPadding0 {
  padding-top: 0 !important;
}

div#MergeEmail-DeleteBTN {
  display: flex;
}

.WeightFont600 {
  font-weight: 600;
}

.SizeFont20 {
  font-size: 20px;
}

.TextAndAlignmentRight {
  text-align: right;
  justify-content: right;
  align-items: right;
}

.TextAndAlignmentLeft {
  text-align: left;
  justify-content: left;
  align-items: left;
}

.HeightLine2 {
  line-height: 2;
}

button#MultipleAddEmailBTN button.MuiButtonBase-root {
  width: 40px;
  height: 40px;
}

.LightGreyColor {
  color: #ddd;
}

.DarkGreyColor {
  color: #888;
}

h2.DarkBlackColor {
  color: #000;
}

.WidhtFull100 {
  width: 100%;
}

.TopMargin15 {
  margin-top: 15px !important;
}

div#MergeEmail-DeleteBTN .AddMultipalEmail {
  padding: 12px 0;
}

.HeightLine3 {
  line-height: 3.5;
}

.TextField {
  width: 100%;
}

.secondaryEmailAlign form .input-feedback {
  position: absolute;
  bottom: -12px;
}

.secondaryEmailAlign form {
  display: flex;
  position: relative;
}

.secondaryEmailAlignPrifile form {
  justify-content: center;
}

.cardMainCLM {
  display: flex;
  align-items: center;
}

.MuiTableCell-alignLeft div:focus {
  outline: none;
}

.table-Head-Title table thead tr th {
  white-space: nowrap;
  padding-right: 10px;
  padding-left: 10px;
}

.table-Head-Title table tbody tr td {
  padding-left: 10px;
  padding-right: 10px;
}

a.sidebar-menu-action .MuiListItemIcon-root {
  min-width: 35px;
  color: #000;
}

a.sidebar-menu-action {
  text-decoration: none;
  color: #000;
}

.MuiInput-underline:before {
  color: #000;
  border-color: #000 !important;
}

.MuiInputLabel-formControl {
  color: #000 !important;
}

.MuiFormLabel-root.Mui-error {
  color: #f44336 !important;
}

.MuiFormControl-marginNormal {
  margin: 0 !important;
}

.MuiButton-containedPrimary {
  background-color: #193562 !important;
}

input:-internal-autofill-selected {
  background-color: #e81010 !important;
}

input:-internal-autofill-selected {
  background-color: #e81010 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: #fff !important;
}

.MuiSelect-select:focus {
  background-color: transparent !important;
}

.MuiButton-containedPrimary {
  color: #fff !important;
  cursor: pointer !important;
  pointer-events: all !important;
}

.MuiFormControlLabel-labelPlacementStart {
  margin-left: 0 !important;
}

.MuiSwitch-colorPrimary.Mui-checked {
  color: #000 !important;
}

.MuiSwitch-colorPrimary.Mui-checked+.MuiSwitch-track {
  background-color: #000 !important;
  opacity: 0.7 !important;
}

textarea {
  width: 100%;
  margin-top: 20px;
}

.css-1okebmr-indicatorSeparator {
  background-color: transparent !important;
}

.css-tlfecz-indicatorContainer {
  color: #000 !important;
}

.css-1wa3eu0-placeholder {
  color: #000 !important;
}

.upload-file {
  position: relative;
  margin-top: 40px;
}

.upload-file input {
  opacity: 0;
  width: 100%;
  height: 48px;
  z-index: 1;
  position: relative;
}

.upload-file span {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  border-bottom: solid 1px;
  padding-bottom: 4px;
  font-size: 16px;
}

div#FilebigAvatar {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.css-g1d714-ValueContainer {
  font-size: 16px;
}

div#profile-drawer-bottom {
  padding: 30px;
  padding-top: 30px;
  height: 350px;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #000 !important;
}

div#businessType {
  z-index: 9;
}

.css-yk16xz-control {
  min-height: 56px !important;
}

.css-1pahdxg-control {
  min-height: 56px !important;
}

/* .select__menu {
    z-index: 0 !important;
  } */

#sidebar-bg-color .MuiList-root .MuiListItemIcon-root .MuiSvgIcon-root {
  color: #193562;
}

.select__menu {
  z-index: 9999 !important;
}

#app {
  background: #e8e8e8 !important;
}

.dialogSize {
  z-index: 99999 !important;
}

.dialogSize .MuiDialog-container .MuiDialog-paper {
  width: 100%;
  max-width: 810px !important;
  min-height: 500px;
}

.dialogSize .MuiDialog-container .MuiDialog-paper .pg-viewer .photo-viewer-container {
  width: 100% !important;
  height: 100% !important;
}

.dialogSize .MuiDialog-container .MuiDialog-paper object {
  margin: 0 auto;
  display: block;
  width: 100%;
  min-height: 600px;
}

.dialogButton button {
  margin: 10px;
}

.MuiTableRow-head .MuiTableCell-head span div {
  font-weight: 600;
}

.StatusChip {
  border-radius: 3px;
  height: 30px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  display: inherit;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  /* color: #fff; */
}

.MuiDrawer-paperAnchorDockedLeft {
  overflow: hidden;
  box-shadow: 0 0 10px #ccc !important;
}

pre {
  white-space: pre-wrap;
  margin: 0;
}

.MuiTableBody-root .MuiTableRow-root .MuiTableCell-body form button.MuiButtonBase-root {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.MuiTableBody-root .MuiTableRow-root .MuiTableCell-body form .MuiTextField-root .MuiInput-underline .MuiInputBase-input {
  font-size: 14px;
}

.DueDateColorRed {
  background: rgb(253 29 29 / 69%);
  border-radius: 16px;
  height: 30px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  display: inherit;
  font-size: 0.8125rem;
  color: #fff;
}

.DueDateColorLightRed {
  background: #ff8100;
  border-radius: 16px;
  height: 30px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  display: inherit;
  font-size: 0.8125rem;
  color: #fff;
}

.TableScrolling table thead tr th {
  white-space: nowrap;
  padding-right: 10px;
  padding-left: 10px;
}

.TableScrolling table tbody tr td {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9rem !important;
}

.ErrorColor .css-yk16xz-control {
  border-color: #f44336;
}

.ErrorColorDropzone {
  border-color: #f44336 !important;
  color: #f44336 !important;
}

.ErrorColor .css-yk16xz-control .css-1wa3eu0-placeholder {
  color: #f44336 !important;
}

.css-2613qy-menu {
  z-index: 999 !important;
}

.MuiFormControl-root {
  z-index: 0;
}

.MuiGrid-root .MuiPaper-root table tbody tr td strong {
  white-space: nowrap;
}

.DragMappingStyle ul li {
  list-style: none;
  margin-right: 15px;
  margin-bottom: 15px;
  min-width: 100px;
  max-width: 500px;
  min-height: 30px;
  border: 2px dashed #ccc;
  padding: 4px;
}

.DragMappingStyle .LeftDragableItems {
  min-height: 350px;
  max-height: 470px;
  overflow-y: auto;
}

.RightDragableItems {
  min-height: 350px;
  max-height: 470px;
  overflow-y: auto;
}

.DragMappingStyle ul {
  background: #f9f9f9;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 17px;
  /* display: flex; */
  /* flex-flow: wrap; */
}

.DragMappingStyle ul li .MuiChip-root {
  cursor: move;
  background: #fff;
  min-width: 230px;
  max-width: 230px;
}

.dragFieldStyle {
  display: flex;
  padding: 0;
}

.dragFieldStyle h4 {
  padding: 10px;
  min-width: 200px;
  max-width: 400px;
  margin: 6px;
}

.dragFieldStyle li {
  padding: 3px 15px;
  min-width: 200px;
  max-width: 500px;
  list-style: none;
  border: 2px dashed #ccc;
  margin: 6px;
}

.MuiTableContainer-root {
  overflow-x: inherit !important;
}

.notesTabStyle button.MuiButtonBase-root {
  min-width: 50px;
  max-width: 230px;
  text-transform: capitalize;
}

.notesTabStyle button.Mui-selected:after {
  content: "";
  border-bottom: 2px solid #193562;
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.notesTabStyle .MuiTabs-scrollable span.MuiTabs-indicator {
  width: 0 !important;
}

.AccordionStyle .MuiAccordion-root {
  box-shadow: none;
}

.AccordionStyle .MuiAccordion-root p {
  font-size: 14px;
  color: #2b28ff;
}

.AccordionStyle .MuiAccordion-root .MuiAccordionDetails-root p {
  color: #000;
}

.MuiTable-root .MuiTableHead-root tr th {
  color: #193562;
  background-color: #edeff3;
  border-bottom: 2px solid rgb(25 53 98 / 33%);
  border-top: 2px solid rgb(25 53 98 / 33%);
  z-index: 0;
}

.MuiTableRow-head .MuiTableCell-head div {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.89125rem;
}

.commentInputStyle textarea {
  color: #737373;
  font-size: 15px !important;
}

.commentInputStyle .MuiInput-underline:hover:not(.Mui-disabled):before {
  border: 0;
}

.commentInputStyle .MuiInput-underline:not(.Mui-disabled):before {
  border: 0 !important;
}

.commentInputStyle .MuiInput-underline:after {
  border: 0 !important;
}

.DueTaskDialogStyle {
  margin: 0 auto;
  color: #ffffff;
  background: #193562 !important;
  width: 60px !important;
  height: 60px !important;
}

.DueTaskDialogStyle svg {
  font-size: 2.3rem;
}

.EditIconStyle tr td {
  padding-right: 0;
}

.ChipStyleDesign:after {
  content: "";
  border-bottom: 1px solid #ccc;
  height: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
}

.ChipStyleDesign {
  height: 20px !important;
  font-size: 10px !important;
  text-transform: uppercase;
}

.MuiDialog-container .MuiDialog-paper .MuiDialogContent-root {
  overflow-x: hidden;
}

.MuiDialog-container .MuiDialog-paper .MuiDialogContent-root .MuiDropzonePreviewList-removeButton {
  right: 60px !important;
  top: 20px;
}

.fixedScrollNote {
  position: relative;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: rgba(234, 237, 247, 0.7) !important;
  border-bottom: 2px solid rgba(234, 237, 247, 1);
}

.MuiDrawer-root .MuiList-root .MuiListItem-button:hover {
  background-color: rgba(234, 237, 247, 0.7) !important;
}

.MuiGrid-root .MuiButton-outlinedPrimary {
  color: #193562;
  border: 1px solid rgb(25 53 98 / 50%);
}

span.material-icons.MuiIcon-root.fa.fa-upload {
  font-size: 20px;
  padding-right: 24px;
}

span.material-icons.MuiIcon-root.fa.fa-download {
  font-size: 20px;
  padding-right: 24px;
}

.MuiPaper-root .MuiList-root .MuiListItemText-root span.MuiTypography-root {
  font-size: 1rem;
}

.tableCustomStyle .MuiToolbar-root div div span button.MuiButtonBase-root:last-child {
  background-color: #193562;
  padding: 20px;
  color: #fff;
  border-radius: 0;
}

.tableCustomStyle .MuiToolbar-root {
  padding-right: 0;
}

.TableScrolling .MuiToolbar-root span button.MuiButtonBase-root:last-child {
  background-color: #193562;
  padding: 20px;
  color: #fff;
  border-radius: 0;
}

.TableScrolling .MuiToolbar-root {
  padding-right: 0;
}

#headerSpace {
  padding: 20px;
}

.menu_style span {
  font-weight: 500 !important;
}

.MuiTable-root .MuiTableSortLabel-icon {
  opacity: 0.3;
}

.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: #a73939 !important;
}

.SoldServiceSection .app {
  width: 100%;
  padding: 0 13px;
}

.mpanTop-fields {
  display: flex;
  text-align: center;
}

.mpanBottom-fields {
  display: flex;
  text-align: center;
}

.mpanBottom-fields input,
.mpanTop-fields input {
  text-align: center;
}

.quick-quote .Mui-disabled {
  color: #000;
  border-radius: 0;
}

.mpan-field {
  display: flex;
  align-items: center;
}

.mpan-field h6 {
  border: 1px solid #afafaf;
  padding: 0.7rem 1.8rem;
  margin: 0;
  font-weight: 800;
  font-size: 2rem;
  color: #5f5f5f;
}

/* .darkTableStyle .MuiTablePagination-root {
  background: #272e48;
  color: #ffffff;
} */
/* .darkTableStyle .MuiTablePagination-root div span button {
  color: #ffffff;
}
.darkTableStyle .MuiTablePagination-root div span {
  color: #ffffff;
}

.darkTableStyle .MuiTablePagination-root svg {
  color: #ffffff;
} */

.rbc-agenda-view table thead {
  background: #193562;
  color: #fff;
}

.rbc-agenda-view table.rbc-agenda-table thead>tr>th {
  padding: 10px 10px !important;
}

.rbc-agenda-content .rbc-agenda-table tbody .rbc-agenda-date-cell {
  font-weight: 600 !important;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  /* background: #193562 !important; */
  padding: 1px 4px !important;
}

.rbc-month-row .rbc-row-content .rbc-row .rbc-date-cell {
  position: relative;
}

/* .rbc-month-row .rbc-row-content .rbc-row .rbc-date-cell a {
  position: absolute;
  right: 2px;
  height: 100%;
  width: 100%;
  max-height: 50px;
  min-height: 17vh;
  top: 5px;
  overflow: hidden;
  z-index: 9;
} */
.appoint_calendar .rbc-month-row {
  position: relative;
  z-index: 0;
}

.appoint_calendar .rbc-month-row .rbc-row-content .rbc-row .rbc-date-cell a {
  position: relative;
  max-height: auto;
  min-height: auto;
  overflow: auto;
  top: auto;
  right: auto;
}

.appoint_calendar .rbc-row-segment .rbc-event-content {
  font-size: 12px;
}

.rbc-today {
  background-color: #cbe9ff !important;
}

.txt-uppercase .MuiGrid-root .MuiPaper-root table tbody tr th form p span {
  text-transform: uppercase;
}

.txt-uppercase .MuiGrid-root .MuiPaper-root table tbody tr th {
  text-transform: uppercase;
}

.TableScrolling div table tbody tr td {
  text-transform: uppercase;
}

.txt-uppercase .MuiGrid-root .MuiPaper-root table tbody tr td {
  text-transform: uppercase;
}

.temp-txt-uppercase .MuiGrid-root table tbody tr th form p span {
  text-transform: uppercase;
}

.errorLayout {
  color: #bd0000 !important;
  background: #ffd7d7;
  padding: 5px 13px;
  border-radius: 5px;
  font-size: 13px !important;
  letter-spacing: 1px;
}

.tidNumber_style {
  position: relative;
}

.tidNumber_style .remove_field {
  position: absolute;
  right: 8px;
  bottom: 14px;
  cursor: pointer;
  z-index: 99;
}

.task_board_head_radio label.MuiFormControlLabel-root {
  background: #eee;
  padding: 0px 13px 0 3px;
  border-radius: 5px;
}

.task_board_head_radio label.MuiFormControlLabel-root:hover {
  background: rgb(210, 210, 210);
}

.eco_service_table .MuiGrid-root .MuiTableRow-root {
  display: table;
  width: 100%;
}

.eco_service_table .MuiGrid-root .MuiTableRow-root .MuiTableCell-root {
  width: 18%;
}

.lead_source_count .lead_source_span {
  background: rgba(204, 204, 204, 0.418);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 8px;
}

.upload_img .MuiDropzonePreviewList-removeButton {
  right: 40px !important;
  top: 20px !important;
}

.fullscreen {
  position: relative;
  z-index: 9999;
}

ul.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

ul.image-gallery li {
  list-style: none;
  width: 200px;
  height: 200px;
  margin: 10px 5px 10px 5px;
  box-shadow: 0px 2px 4px -2px #09090978;
  border-radius: 5px;
  cursor: pointer;
}

ul.image-gallery li img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

ul.image-gallery li .overlay {
  display: block;
  padding: 10px;
}

.colorInputStyle {
  padding: 8px !important;
  height: 40px !important;
}

.colorInputStyleEdit {
  padding: 8px !important;
  height: 40px !important;
  width: 140px !important;
}

.appointment_booked {
  background: #38cb35 !important
}

.appointment_unAvailable {
  background: #ff7800 !important
}

.survey_pub_form ul li {
  margin-left: 20px;
  margin-top: 20px;
}

.lead-digital-dash .MuiGrid-root label {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
}

.lead-digital-dash .MuiGrid-root label.array-field-label{
  font-size: 15px;
  color: #193562;
  margin-bottom: 10px;
  margin-top: 20px;
}

.drop_lead_upload_data {
  min-height: 95px !important;
}

.drop_lead_upload_data .MuiDropzoneArea-textContainer p.MuiDropzoneArea-text {
  font-size: 16px;
}

.drop_lead_upload_data img.MuiDropzonePreviewList-image {
  height: auto;
}

.drop_lead_upload_data .MuiDropzoneArea-textContainer svg.MuiDropzoneArea-icon {
  display: none;
}

.measures_services {
  box-shadow: 0 0 5px #ababab;
  border-radius: 5px;
  margin-top: 20px !important;
  display: block;
}

.measures_services h4 {
  padding: 10px;
  border-bottom: 1px solid;
}

.measures_services div {
  border-bottom: 1px solid;
  padding: 5px 15px;
}

.export_pdf_btn a {
  text-decoration: none;
  padding: 10px 18px;
  display: block;
  background: #efefef;
  border-radius: 5px;
  color: #193562;
  box-shadow: 0 0 7px #a5a5a5;
}