/* IPAD PRO */
@media (min-width: 992px) and (max-width: 1199px) {
  .cardMainCLM {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .cardMainCLM .CardInCLM1 {
    justify-content: center;
    display: flex;
  }
  .cardMainCLM .CardInCLM2 {
    justify-content: center;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}
/* IPAD */
@media (min-width: 768px) and (max-width: 991px) {
}
/* MOBILE */
@media (max-width: 767px) {
}
@media (max-width: 627px) {
}
@media (min-width: 481px) and (max-width: 626px) {
}
@media (max-width: 480px) {
}
@media (max-width: 360px) {
}
@media (max-width: 320px) {
}
